/* li:first-child{
    font-size: 20px;
    background-color: lightblue;
}

li:last-child{
    font-size: 20px;
    background-color: lightgreen;
}

li:nth-child(2){
    font-size: 20px;
    background-color: lightpink;
} */

/* li:nth-child(even){
    background-color: lightgray;
} */

/* 
.element::before{
    content: "Hello World";
}

.element::after{
    content: "Hello Universe";
} */

/* .note::before{
    content: "Note : ";
    font-weight: bold;
}

.note::after{
    content: " !!!";
    font-weight: bold;
}

.title{
    position: relative;
}

.title::before{
    content: "";
    width: 5px;
    height: 100%;
    background: steelblue;
    position: absolute;
    top: 0;
    left: -5px;
} */

.link{
    position: relative;
    text-decoration: none;
    font-size: 30px;
}

.link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s;
}

.link:hover::after{
    width: 100%;
}


.card{
    position: relative;
    width: 300px;
}

.card::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0.3;
    transition: all 0.3s;
}

.card:hover::before{
    opacity: 1;
}