/* .box{
    width: 100px;
    height: 100px;
    background-color: steelblue;
}

@keyframes moveBox{
    from{
        transaform: translateX(0px);
    }
    to{
        transform: translateX(300px);
    }
}

@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(80px);
    }
    100%{
        transform: translateY(0px);
    }
}


.box{
    animation-name: moveBox;
    animation-duration: 4s;
    animation: moveBox 4s infinite alternate;
    animation: bounce 2s infinite ease-in-out;
    animation-delay: 4s;
} */

/* Loading Snipper */

.snipper{
    width: 40px;
    height: 40px;
    border: 4px solid lightgray;
    border-bottom: 4px solid steelblue;
    border-radius: 50%;
    animation: spins 1s linear infinite;
    margin: 100px auto;
}

@keyframes spins{
    to{
        transform: rotate(360deg);
    }
}

.box{
    width: 10px;
    height: 10px;
    background-color: steelblue;
    margin: 20px auto;
    animation: fadeIn 1s ease-in-out infinite;
    border-radius: 50%;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: scale(1);
    }
    to{
        opacity: 1;
        transform: scale(1.1);
    }
}