*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dashboard{
    height: 100vh;

    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px 1fr 50px;

    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}


.header{
    grid-area: header;
    background-color: #1f2937;
    color: white;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar{
    grid-area: sidebar;
    background-color: #111827;
    color: white;
    padding: 20px;
}

.main{
    grid-area: main;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.footer{
    grid-area: footer;
    background-color: #1f2937;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background: #f3f4f6;
    padding: 20px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}