/* .container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;

}

.box{
    background-color: brown;
    color: beige;
    height: 400px;
    width: 400px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s ease;
}

.box:hover{
    background-color: black;
    color: red;
    transform: rotate(45deg) translateY(300px) scale(1.5);
} */


/* Mini Project */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    gap: 40px;
    margin-top: 400px;
}

.card{
    background: #1e293b;
    color: white;
    width: 350px;
    padding: 30px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;

    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-100px);
}

.card button{
    margin-top: auto;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 20px;

    transition: background-color 0.3s ease, transform 0.2s ease;
}

.card button:hover{
    background-color: #01040f;
    transform: scale(1.05);
}

.card button:focus{
    border: 2px solid red;
}